.user__name-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 560px;
}

@media (max-width: 620px) {
  .user__name-container {
    padding-top: 16px;
    justify-content: center;
  }
}