.popup__input-field {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 0;
  border: none;
  width: 100%;
}

.popup__input-field:first-of-type {
  margin: 54px 0 0;
}

input::-moz-placeholder { 
  color: #000000;
}

input::-webkit-input-placeholder {
  color: #000000;
}