.popup__close-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -32px;
  right: -32px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.popup__close-btn:hover {
  opacity: 0.6;
}